$grey: #eee;
$blue: #74b9ff;

body{
    background-image: url(https://images.unsplash.com/photo-1619017974681-9c7e0a0ddc5f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.container{
    margin: 60px auto;
    background: #fff;
    padding: 0;
    border-radius: 7px;
    height: 80vh;
}

.profile-image{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}


.settings-tray{
    background: $grey;
    padding: 10px 15px;
    border-radius: 7px;

     i{
        margin-top: 10px;
        font-size: 25px;
        color: grey;
        margin-left: 14px;
        transition: 0.3s;

        &:hover{
            color: $blue;
            cursor: pointer;
        }
    }
}

.search-box{
    background: #fafafa;
    padding: 10px 13px;

    .input-wrapper{
        background: #fff;
        border-radius: 40px;

        i{
            color: grey;
            vertical-align: middle;
            margin-left: 7px;
        }
    }
}


input{
    border: none;
    border-radius: 40px;
    width: 80%;

    &::placeholder{
        color: #e3e3e3;
        font-weight: 300;
        margin-left: 20px;
    }

    &:focus{
        outline: none;
    }
}

.col-md-4{
    //height: 100%;
    .container{
        margin: 0;
        //height: 100%;
    }
}

.col-md-8{
    height: 100%;
}

.vertical-scrollable {
    //position: absolute;
    height: 70%;
    overflow-y: scroll; 
  }

.story-drawer{
    padding: 10px 15px;
    display: flex;
    vertical-align: bottom;
    background: #fff;
    transition: 0.3s ease;

    &--grey{
    background: #eee;
    }

    .text{
        margin-left: 12px;
        width: 70%;
        vertical-align: middle;

        h6{
            margin-top: 15px;
            margin-bottom: 0;
        }

        p{
            margin: 0;
        }
    }

    .time{
        color:grey;
    }

    &--onhover:hover{
        background:  #eee;
        cursor: pointer;
    }

    i{
        margin-top: 15px;
        font-size: 28px;
        color: grey;
        margin-left: 14px;
        transition: 0.3s;

        &:hover{
            color: orange;
            cursor: pointer;
        }
    }
}

.active{
    background:  $blue;
    cursor: pointer;

}

hr{
    margin: 5px auto;
    width: 60%;

}

/*.btn {
    background-color: transparent;
    height: 30px;
    width: 30px;
    border: none;
    color: orange;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6px 2px;
    vertical-align: middle;
    }
*/

.btn-orange{
    background-color: orange;
    color: white;
    border: none;

    &:hover{
        background-color: rgb(255, 123, 0);
        cursor: pointer;
        color: white;

    }

    &:active, &:focus{
        background-color: orange;
        border: none;
        color: white;
    }
}

#mapid { height: 520px; }


.w-100 {
    width: 100% !important;
    height: 90vh;
  }

  .name{
      margin-left: 10px;
      font-weight: 400;

  }
